#root {
    margin: auto;
    width: 100%;
}

body {
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: rgb(255, 255, 255);
}